body{
  background-color:rgb(2, 17, 43);
  font-family:  'Uncial Antiqua', cursive;
  color:white;
}

.one{
  display:inline-block;
  width:600px;
}

.two{
  display:inline-block;
  width:600px;
  text-align:right;
}

.all{
  display: flex;
justify-content: center;
width:1200px;
}

h2{
  animation: flicker 1.5s infinite alternate;
  color: white;
  text-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #f0f;
}
@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

.magic::before {
  content: " Люменус мемурам"; 
  opacity: 0; /* Спочатку текст невидимий */
  transition: opacity 0.3s ease; /* Плавний ефект появи */
}

.magic:hover::before {
  opacity: 1; /* Текст стає видимим при наведенні */
}

.magic1::before {
  content: "Магнус з’являмус"; 
  opacity: 0; /* Спочатку текст невидимий */
  transition: opacity 0.3s ease; /* Плавний ефект появи */
}

.magic1:hover::before {
  opacity: 1; /* Текст стає видимим при наведенні */
}

.magic2::before {
  content: "Шумус викридамусс"; 
  opacity: 0; /* Спочатку текст невидимий */
  transition: opacity 0.3s ease; /* Плавний ефект появи */
}

.magic2:hover::before {
  opacity: 1; /* Текст стає видимим при наведенні */
}

